{% extends "cake/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% load static %}

<section class="cart-sec">
    <div class="cart-flex flex1">
        <div>
            <div>
                <a href="#" class="cart-font1"><span class="material-symbols-outlined">
                    arrow_back_ios
                    </span> Shopping Continue</a>
            </div>
            <hr style="margin-top: 1.5rem;">
            <div style="margin-top: 2rem;">
                <h3 class="cart-font1">Shopping cart</h3>
                <p class="cart-font2">You have 3 item in your cart</p>
            </div>
            <div class="cart-flex cart-card1">
                <img src="{% static 'images/images (1) 1.svg' %}">
                <div>
                    <h3 class="cart-font1" style="font-size: 16px;">cream cake</h3>
                    <p class="cart-font2" style="font-size: 14px;">Extra cheese and toping</p>
                </div>
                <input type="number" id="quantity" value="1" min="1" max="10" class="cart-quan">
                <h5  class="cart-font1" style="    margin-top: 2rem;">$681</h5>
                <img src="{% static 'images/Trash Can.svg' %}">
            </div>
            <div class="cart-flex cart-card1">
                <img src="{% static 'images/images (1) 1.svg' %}">
                <div>
                    <h3 class="cart-font1" style="font-size: 16px;">cream cake</h3>
                    <p class="cart-font2" style="font-size: 14px;">Extra cheese and toping</p>
                </div>
                <input type="number" id="quantity" value="1" min="1" max="10" class="cart-quan">
                <h5  class="cart-font1" style="    margin-top: 2rem;">$681</h5>
                <img src="{% static 'images/Trash Can.svg' %}">
            </div>
            <div class="cart-flex cart-card1">
                <img src="{% static 'images/images (1) 1.svg' %}">
                <div>
                    <h3 class="cart-font1" style="font-size: 16px;">cream cake</h3>
                    <p class="cart-font2" style="font-size: 14px;">Extra cheese and toping</p>
                </div>
                <input type="number" id="quantity" value="1" min="1" max="10" class="cart-quan">
                <h5  class="cart-font1" style="    margin-top: 2rem;">$681</h5>
                <img src="{% static 'images/Trash Can.svg' %}">
            </div>
        </div>
        <div class="cart-card" style="padding: 2rem;width: 22rem;">
            
            <div class="cart-flex2">
                <h2 class="cart-h2">Card Details</h2>
                <img src="{% static 'images/attractive-woman-with-beautiful-smile-sitting-lotus-pose-floor-using-silver-notebook-looking-away-isolated-white-wall 1.svg' %}">
            </div>
            <h6 class="cart-h6">Card type</h6>
            <div class="cart-flex2">
                
            </div>
            <form method="post" id="payment-form">
                {% csrf_token %}
                <div class="margin2">
                    <label class="cart-label">Name on card</label>
                    {{ form.name_on_card }}
                </div>
                <div class="margin2">
                    <label class="cart-label">Card Number</label>
                    {{ form.card_number }}
                </div>
                <div class="cart-flex2 margin2">
                    <div>
                        <label class="cart-label">Expiration date</label>
                        {{ form.expiration_date }}
                    </div>
                    <div>
                        <label class="cart-label">CVV</label>
                        {{ form.cvv }}
                    </div>
                </div>
                <div class="cart-style card-p">
                    <div class="cart-flex2">
                        <h4 class="cart-label card-p">Subtotal</h4>
                        <h4 class="cart-label card-p">$1</h4>
                    </div>
                    <div class="cart-flex2">
                        <h4 class="cart-label card-p">Shipping</h4>
                        <h4 class="cart-label card-p">$</h4>
                    </div>
                    <div class="cart-flex2">
                        <h4 class="cart-label card-p">Total (Tax incl.)</h4>
                        <h4 class="cart-label card-p">$1</h4>
                    </div>
                </div>
                <div>
                    <button type="submit" class="cart-bt cart-label" style="color: black;">$1 <span><span>Checkout</span><span><img src="{% static 'images/Right.svg' %}"></span></button>
                </div>
            </form>
            
            <div>
                
            </div>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("{{ settings.STRIPE_PUBLIC_KEY }}");
        var elements = stripe.elements();

        var card = elements.create('card');
        card.mount('#card-element');

        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.confirmCardPayment("{{ intent.client_secret }}", {
                payment_method: {
                    card: card,
                    billing_details: {
                        name: document.getElementById('id_name_on_card').value,
                    },
                },
            }).then(function(result) {
                if (result.error) {
                    // Display error to your customer
                    console.error(result.error.message);
                } else {
                    if (result.paymentIntent.status === 'succeeded') {
                        // The payment was successful
                        console.log("Payment succeeded!");
                    }
                }
            });
        });
    </script>
</section>
{% endblock %}  