body{
    margin: 0;
    padding: 0;
}
header{
    box-shadow: 0px 5px 10px rgba(151, 151, 151, 0.5);
}
.hdr-img{
    position: relative;
    top: 50px;
}
.hdr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    height: 110px;
   
}
.nav{
    display: flex;
    gap: 4.5rem;
    overflow: hidden;
    
    
    
}
.select{
    border-radius: 5px;
    padding: 7px 4px;
    text-align: left;
    width: 18rem;
    height: 41px;
    border: 2px solid gray;
}
/* Style the navigation items */
.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color:black;
    text-align: left;
    /* padding: 14px 16px; */
    text-decoration: none;
}
.nav1{
    display:flex;
    justify-content: left;
    align-items: center;
    gap: .15rem;
    padding:0 .75rem;
    
}

/* Style the dropdown container */
.dropdown {
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 2rem;
    background-color:white;
    width:8rem;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 2px 3px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

/* Show the dropdown content when hovering or clicking on the dropdown item */
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-link{
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 600;
    line-height: 31px;
    /* letter-spacing: 0rem; */
    text-align: left;
    transition: all 0.3s;
    padding: 5px;

}
.nav-link:hover{
    transform: translateY(-5px); /* Move the element up by 5 pixels */
    background-color: transparent; /* Remove the background color */
    color: #393939;
}
.index-font{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: .03em;
    text-align: left;

}
h1,h2,h3{
    font-family: 'Righteous', sans-serif;
    text-align: center;
}
p{
    font-family: 'Source Sans 3', sans-serif;
}
.sec1-h1{
   
    font-size: 54px;
    font-weight: 400;
    line-height: 50px;
    /* letter-spacing: 0rem; */
    text-align: left;

}
.sec1-img{
    position: absolute;
    top: 16rem;
    right: 44rem;
}
.sec1-p{
    font-size: 22px;
    font-weight: 800;
    line-height: 31px;
    /* letter-spacing: 0rem; */
    text-align: left;

}

.sec1-button{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 1000;
    background-color: #FFD135;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 10px 72px;
}
.sec2{
    margin-top: 5rem;
}
.sec2-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-round{
    border: 2px solid;
    border-radius: 9rem;
    height: 22rem;
    width: 16rem;
    text-align: center;
    
} 

.sec2-flex{
    display: flex;
    
    gap: 3.5rem;
    margin-top: 5rem;
    
}

.sec2-h2{
    font-size: 35px;
    font-weight: 400;
    line-height: 43px;
    /* letter-spacing: 0rem; */
    text-align: center;

}
.sec2-h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    /* letter-spacing: 0rem; */
    text-align: center;
    margin-top: 8rem;
}

.sec2-p{
    font-size: 16px;
    font-weight: 800;
    line-height: 23px;
    /* letter-spacing: 0rem; */
    text-align: center;

}
.sec3{
    background-color: #393939;
    margin-top: 5rem;
    padding: 3rem 0;
    font-weight: 800;

}
.sec3-flex{
   
    display:flex;
    justify-content: center;
    gap: 2rem;

}
.sec3-h1{
    /* margin-top: 5rem; */
    color: white;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    /* letter-spacing: 0rem; */
    text-align: center;

}
.sec3-p{
    color:white;
    text-align: center;
}
.sec3-h6{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 1000;
    line-height: 30px;
    /* letter-spacing: 0rem; */
    text-align: center;

}
.sec4{
    text-align: center;
}
.sec4-h1{
    font-size: 35px;
    font-weight: 400;
    line-height: 43px;
    /* letter-spacing: 0rem; */
    /* text-align: center; */
}
.sec4-flex{
    display: flex;
    justify-content: center;
    gap: 3rem;

}
.sec4-p{
    font-weight: 800;
    text-align: left;
}

.sec4-h4{
    /* font-family: 'Montserrat'; */
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* letter-spacing: 0em; */
    text-align: left;

}
.sec4-link{
    text-decoration: none;
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    /* letter-spacing: 0em; */
    text-align: left;
    color: black;
    border: 2px solid;
    padding: .75rem 2.5rem;
    border-radius: 1rem;

}
.sec4-div{
    margin-top: 3rem;
}
.sec5{
    margin-top: 3rem;
    padding: 3rem 0;
    background-color: #FFE281;
}
.sec5-p{
    text-align: center;
    font-weight: 800;
}
footer{
    background-color:#393939;
    text-align: center;
    padding:2rem 0 1rem 0 ;
}
.ftr-flex{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.ftr-link{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    /* letter-spacing: 0rem; */
    text-align: left;

}
.ftr-img{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.ftr-hr{
    color: #FFFFFF;
    margin: 2rem 5rem;
}
.ftr-p{
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}
/* login.html */

.h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    text-align: left;
}
.log-div{
    margin-top: 6rem;
    width: 10rem;
}
.log-sec{
    display: grid;
    place-items: center;
    height: 100vh; 
    margin-bottom: 5rem;
    margin-right: 5rem;
}
.log-label{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* letter-spacing: 0rem; */
    text-align: left;

}
.input{
    height: 2.5rem;
    width: 20rem;
    padding-left: 1rem;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
}
.log-bt{
    height: 3rem;
    width: 21rem;
    background-color: #FFD135;
    border: none;
    border-radius: 5px;
    text-align: center;

}
.a{
    margin-top: 2rem;
}
.margin{
    margin-bottom: 3rem;
}

/* signup.html */
.sign-sec{
    display: grid;
    justify-content: center;
    /* height: 150vh;  */
    margin-bottom: 5rem;
    margin-right: 5rem;
}
.sign-p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    /* letter-spacing: 0rem; */
    text-align: left;
    color: #CCCCCC;

}
.width{
    width: 19rem;
}
.sign-flex{
    /* display: flex;
    justify-content: center; */
}
.sign-font{
    font-family: 'Space Grotesk', sans-serif;
    width:20rem;
    text-align: center;
    color:#CCCCCC ;
    font-weight: 600;
}
.log{
    color: #476D73;
    font-weight: 600;
}


/* contact.html */
.con-sec{
    margin: 6rem 5rem;
}
.con-flex{
    display: flex;
    justify-content: center;
    gap: 5.5rem;
}

.border{
    position: absolute;
    top: 15rem;
    left: 56rem;
    background-color: #FFD135;
    border: none;
    border-radius: 0rem 3rem 3rem 0rem;
    height: 41rem;
    width: 23rem;
    margin-left: 2rem;
}
.con-img{
    position: relative;
    margin-top: 5rem;
}

.con-font{
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: bold;
    line-height: 66px;
    /* letter-spacing: 0em; */
    text-align: left;

}
.con-font1{
    color: #FFD135;
}
/* font-family: Lust;
font-size: 54px;
line-height: 63px;
letter-spacing: 0em;
text-align: left; */

.con-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.con-in{
    padding: 1rem;
    width: 33rem;
    border: 1px solid #CCCCCC;
}
.con-bt{
    font-family: 'Montserrat', sans-serif;
    height: 3rem;
    width: 100%;
    background-color: #FFD135;
    border: none;
    text-align: center;
    font-weight: 1000;
}
.con-flex1{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.con-font2{
    font-family: 'Montserrat', sans-serif;
}
.con-p1{
    font-family: 'Montserrat', sans-serif;
    color: #DD5471;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: -1rem;

}
.con-mar{
    margin-top: 1rem;
}
.sel{
    width: 35rem !important;
}



/* cart.html */

.cart-card{
    border-radius: 2rem;
    background-color: #323234;
}
.cart-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    
}
.cart-flex2{
    display: flex;
    justify-content: space-between;
    
}
.flex1{
    padding: 6rem;
}
.card-p{
   
    margin: .30rem;
}
.cart-style{
    border-top: 2px solid #FFD135;
    margin-top: 2rem;
}
.cart-hr{
    color: #FFD135;
}
.cart-sec{
    margin-top: 4rem;
}
.cart-font1{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    text-align: left;
    font-weight: 600;
    
}
.cart-bt{
    border: none;
    border-radius: 5px;
    background-color: #FFD135;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    width: 22rem;
    padding: 1rem;
}
.cart-quan{
    border: none;
    width: 26px;
    height: 16px;
    margin-top: 2.5em;
}

.cart-card1{
    border-radius: 1rem;
    box-shadow: 4px 3px 4px 3px rgba(99, 98, 98, 0.1);
    width: 34rem;

}
.cart-font2{
    font-family: 'Nunito', sans-serif;
}
.cart-h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    /* letter-spacing: 0em; */
    text-align: left;
    color: white;

}
.margin2{
    margin-top: 1rem;
}
.cart-h6{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 1rem 0;

}
.cart-label{
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: .02em;
text-align: left;
color: white;

}
.cart-in{
    font-family: 'Poppins', sans-serif;
    background-color: #4B4B4B;
    border-radius: 5px;
    /* height: 2.5rem; */
    width: 20rem;
    border: none;
    padding: 1rem;
    margin-top: .5rem;
}
.cart-in2{
    font-family: 'Poppins', sans-serif;
    background-color: #4B4B4B;
    border-radius: 5px;
    /* height: 2.5rem; */
    width: 8.5rem;
    border: none;
    padding: 1rem;
    margin-top: .5rem;
}
/* user_profile.html */

.user-flex{
    display: flex;
    justify-content: left;
    gap: 8rem;
}
.user-div{
    border-left: 2px solid gray;
}
.userdiv1{
    margin-top: 5rem;
    margin-left: 6rem;
}
.userdiv2{
    display: flex;
    gap: 1rem;
}
.div1{
    margin-top: 1rem;
    margin-left: 16rem;
    margin-bottom: 8rem;
}
.divimg{
    width: 80px;
   
}
.img1{
    display: flex;
    gap: 2rem;
}

/* single-prodict.html */

.quantity-button {
    display: inline-block;
    padding: 5px 0;
    /* background-color: #0074D9; Set your desired background color */
    color: black; /* Set your desired text color */
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.quantity-button img {
    width:5rem; /* Set the maximum width for the image */
    height:4rem;
}

.product-flex{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.prdct-img{
    height: 6rem;
    width: 6rem;
}
.prdct-font{
    text-align: left;
    font-size: 28px;
}
.prdct-p{
    font-family: 'Source Sans 3', sans-serif;
    text-align: left;
    font-size:30px;
}
.product-flex1{
    display: flex;
    justify-content:left;
    gap: 1.5rem;
}
.p1{
    font-family: 'Source Sans 3';
    font-weight: 800;
}
.input1{
    margin-top: 2rem;
    height: 3rem;
    width: 28.4rem;
    padding-left: 1rem;
    border: 2px solid #CCCCCC;
    border-radius: 11px;
}
.input2{
    margin-top: 2rem;
    height: 3rem;
    width: 12rem;
    padding: 0 1rem;
    border: 2px solid #CCCCCC;
    border-radius: 11px;
}
.but2{
    height: 3rem;
    width: 14.2rem;
    background-color: #FFD135;
    border: none;
    border-radius: 12px;
    text-align: center;
}
.but1{
    height: 3rem;
    width: 14.2rem;
    background-color: #9EDE6C;
    border: none;
    border-radius: 12px;
    text-align: center;
}
/* product.html */
.prdct-sec{
    margin:5rem;
    
}
.prdct-flex{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0rem 4rem;
    gap: 3rem;
}
.prdct-font{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    transition: all 0.3s;

}
.prdct-font1{
    text-decoration: none;
    color: black;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    transition: all 0.3s;
}
.prdct-font:hover{
    border: 2px solid #FFD135;

    border-radius: 3rem;
    padding: 5px;
    width: 5rem;
    transform: translateY(-5px);
}

.main1{
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}

.main1 input{
    border-radius: 7px;
    padding: 11px 12px;
    width: 15rem;
    color: gray;
    margin-top: .5rem;
    height: 1rem;
}
.label1{
    
    margin-top: 1rem;
}
.button1{
    border-radius: 10px;
    border: none;
    padding: 11px 15px;
    width: 11rem;
    background-color: #FFD135;
}
.button3{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-radius: 10px;
}
.user-font1{
    font-family: 'Source Sans 3', sans-serif ;
    font-size: 16px;
    font-weight: 800;
}
