{% extends "cake/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% load static %}

<section class="prdct-sec">
    <div class="prdct-flex">
        <h1 class="sec1-h1">Cake</h1>
        <div class="prdct-flex">
            <a href="#" class="prdct-font">Cake</a>
            <a href="#" class="prdct-font">Muffins</a>
            <a href="#" class="prdct-font">Cupcake</a>
            <a href="#" class="prdct-font">Popsicle</a>
        </div>
    </div>
</section>
<section style="margin: 5rem;">
    <div class="sec4-flex">
        <div>
            <img src="{% static 'images/Rectangle 6.svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Pumpkin Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (1).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Bundt Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (2).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Caramel Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (3).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Caramel Cake</p>
        </div>
    </div>
    <div class="sec4-flex">
        <div>
            <img src="{% static 'images/Rectangle 6.svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Pumpkin Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (1).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Bundt Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (2).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Caramel Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (3).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Caramel Cake</p>
        </div>
    </div>
    <div class="sec4-flex">
        <div>
            <img src="{% static 'images/Rectangle 6.svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Pumpkin Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (1).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Bundt Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (2).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Caramel Cake</p>
        </div>
        <div>
            <img src="{% static 'images/Rectangle 6 (3).svg' %}">
            <h4 class="sec4-h4">₹ 540</h4>
            <p class="sec4-p">Butterscotch Caramel Cake</p>
        </div>
    </div>
</section>

{% endblock %}  