
{% extends "cake/base.html" %}
{% load static %}

{% block title %}{{item.name}}{% endblock %}

{% block content %}

<section style="margin-top: 5rem;">
    <div class="product-flex">
        <div>
            <img src="{{item.image.url}}" alt="Error" width="350px" style="margin: 1rem auto;border-radius: .75rem;">
            <div class="product-flex">
                <img src="{{item.image.url}}" alt="" class="prdct-img">
                {% if item.image1 %}
                <img src="{{item.image1.url}}" alt="" class="prdct-img">
                <img src="{{item.image2.url}}" alt="" class="prdct-img">
                <img src="{{item.image3.url}}" alt="" class="prdct-img">
                {% endif %}
            </div>
        </div>
        <div>
            <h1 class="prdct-font1">{{item.name}}</h1>
            {% if item.price_one_kg %}<h3 class="prdct-p"><span>₹ </span>{{item.price_one_kg}}</h3>{% else %}<h3 class="prdct-p"><span>₹ </span>{{item.price_per_piece}}</h3>{% endif %}
            <div class="product-flex1">
                {% if item.price_half_kg %}
                <p class="con-p">Pick an upgrade</p>
                <select name="variants" id="types" class="variants_of">
                    <option value="{{item.price_half_kg}}"><span>1/2 Kg - </span>{{item.price_half_kg}}</option>
                    <option value="{{item.price_one_kg}}"><span>1 Kg - </span>{{item.price_one_kg}}</option>
                    <option value="{{item.price_one_and_half_kg}}"><span>1 1/2 Kg - </span>{{item.price_one_and_half_kg}}</option>
                </select>
                {% else %}
                {% endif %}
            </div>
            {% if item.eggless %}
            <input type="checkbox" id="eggless">
            <label for="eggless">Eggless</label>
            {% endif %}
            <form method="post" action="add_to_cart/">
                <input type="text" placeholder="Add Location" class="log-label input1">
                <div class="product-flex1">
                    <input type="date" placeholder="Delivery Date" class="log-label input2">
                    <input type="text" placeholder="Message" class="log-label input2">
                </div>
                <div class="product-flex1">
                    <button type="submit" class=" but1 a margin con-p">Add to cart</button>
                </div>
                
            </form>
        </div>
    </div>
</section>
<section class="sec4" style="margin-top: 6rem; margin-bottom: 2rem;">
    <div class="sec4-flex">
        {% for product in products %}
        <a href="{% url 'cake:single_product' product.id %}">
            <div>
                <img src="{{product.image.url}}" width="250px" style="border-radius: 10px;">
                {% if product.price_one_kg  %}<h3 class="sec4-h4"><span>₹ </span>{{product.price_one_kg}}</h3>{% else %}<h4 class="sec4-h4"><span>₹ </span>{{product.price_per_piece}}</h4>{% endif %}
                <p class="sec4-p">{{product.name}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}