{% extends "cake/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% load static %}

<section>
    <div class="user-flex">
        <div class="userdiv1">
            <h1>User Profile</h1>
            <div class="userdiv2">
                <img src="{% static 'images/Vector (1).svg' %}" alt="">
                <h4 style="font-family: 'Source Sans 3', sans-serif ;font-size: 24px;">User Info</h4>
            </div>
        </div>
        <div class="user-div">
            <div class="div1">
                <div class="img1">
                    <img class="divimg" src="{% static 'images/Vector (1).svg' %}">
                    <div>
                        <h4 style="font-family: 'Source Sans 3', sans-serif ;font-size: 24px;">Anju</h4>
                        <p style="font-family: 'Source Sans 3', sans-serif ;font-size: 14px;color: gray;">Kochi,Kerala</p>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="main1">

                        <div>
                            
                            <div class="label1">
                                <label for="" class="user-font1">Email Adress</label>
                                <div>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="label1">
                                <label for="" class="user-font1">Location</label>
                                <div>
                                    {{ form.location }}
                                </div> 
                            </div>
                        </div>
                        <div>
                            <div class="label1">   
                                <label for="" class="user-font1">Full Name</label>
                                <div>
                                    {{ form.full_name }}
                                </div>
                            </div>
                            <div class="label1">
                                <label for="" class="user-font1">Phone No</label>
                                <div>
                                    {{ form.phone_number }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button3">
                        <button class="button1" type="submit" class="user-font1" style="margin-top: 3rem;">Save Changes</button>
                    </div>
                </form>
              
            </div>
        </div>
    </div>
</section>

{% endblock %}