<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Raleway:wght@100&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Raleway:wght@100&family=Righteous&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Raleway:wght@100&family=Righteous&family=Roboto:wght@100&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Montserrat:wght@100;500;600&family=Raleway:wght@100&family=Righteous&family=Roboto:wght@100&family=Source+Sans+3:wght@200&family=Space+Grotesk&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div style="background-color:#000000;height: 35px;"></div>
        <div class="hdr">
            <img src="images/WhatsApp Image 2023-09-06 at 11.27 1.svg" class="hdr-img">
            <nav class="nav">
                <a href="#" class="nav-link">Cakes</a>
                <a href="#" class="nav-link">Order</a>
                <a href="#" class="nav-link">Contact Us</a>
                <a href="#" class="nav-link"><img src="images/Vector1.svg"></a>
                <a href="#" class="nav-link"><img src="images/Vector (1).svg"></a>
            </nav>
        </div>
    </header>
    <section>
        <div class="user-flex">
            <div>
                <h3>User Profile</h3>
                <div class="user-flex">
                    <img src="images/Vector (1).svg" alt="">
                    <h4>User Info</h4>
                </div>
            </div>
            <div class="user-div">
                <img src="images/attractive-woman-with-beautiful-smile-sitting-lotus-pose-floor-using-silver-notebook-looking-away-isolated-white-wall 1.svg">
                <div>
                    <h4>Anju </h4>
                    <p>Kochi,Kerala</p>
                </div>
                <form>
                    <div class="user-flex">
                        <div>
                            <label for="">Name</label>
                            <input type="text">
                            <label for="">Email Adress</label>
                            <input type="text">
                            <label for="">Location</label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="">Full Name</label>
                            <input type="text">
                            <label for="">Phone No</label>
                            <input type="text">
                            <label for="">Pin Code</label>
                            <input type="text">
                        </div>
                    </div>
                    <div>
                        <button type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <img src="images/WhatsApp Image 2023-09-06 at 11.27 1.svg">
        <div class="ftr-flex">
            <a href="#" class="ftr-link">Home</a>
            <a href="#" class="ftr-link">Stuffing</a>
            <a href="#" class="ftr-link">Order</a>
            <a href="#" class="ftr-link">Contact Us</a>
        </div>
        <div class="ftr-img">
            <img src="images/wtsapp.svg">
            <img src="images/baseline-facebook (2) 2.svg">
            <img src="images/instagram (2).svg">
            <img src="images/x.svg">
        </div>
        <hr class="ftr-hr">
        <p class="ftr-p">Copyright cake walk</p>
    </footer>
</body>
</html>